@font-face {
    font-family: 'Open Sans';
    src: url("/fonts/OpenSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url("/fonts/OpenSans-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1520px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.main-header {
    margin-top: 40px;
    margin-bottom: 43px;
}

.logo-link {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    text-decoration: none;
}

.logo-img {
    display: block;
    width: 93px;
    height: 66px;
    padding-top: 3px;
    padding-bottom: 4px;
}

.logo-text {
    font-family: 'Segoe UI', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.32;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    color: #2C145E;
}

.main-content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 218px;
    padding-bottom: 256px;
    margin-bottom: 54px;
}

.hero-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.4;
    color: #FFFFFF;
    margin: 0 0 30px 0;
    letter-spacing: 0;
}

.hero-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.6;
    color: #FFFFFF;
    margin: 0;
    letter-spacing: 0;
}

.news-header {
    margin-bottom: 60px;
}

.news-section {
    margin-bottom: 83px;
}
.news-section-title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.4;
    letter-spacing: 0;
}

.four-news {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 80px 40px;
    margin-bottom: 83px;
}

.news-card-link {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
}

.news-card-link:hover {
    text-decoration: none;
    color: inherit;
}

.news-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    box-sizing: border-box;
    cursor: pointer;
}

.news-card-date {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #6C6E7B;
    display: inline-block;
    background-color: #ECF2F5;
    padding: 6px 18px;
    border-radius: 20px;
    margin-bottom: 30px;
    align-self: flex-start;
}

.news-card-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    margin: 0 0 30px 0;
    transition: color 0.3s ease;
}

.news-card:hover .news-card-title {
    color: #841844;
}

.news-card-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    margin: 0 0 30px 0;
}

.news-card-btn {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid #9B407A;
    text-transform: uppercase;
    text-decoration: none;
    color: #841844;
    margin: auto 0 0 0;
    padding: 16px 75px 16px 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 15' fill='none'%3E%3Cpath d='M1 6.36395C0.447715 6.36395 4.82823e-08 6.81167 0 7.36395C-4.82823e-08 7.91624 0.447715 8.36395 1 8.36395L1 6.36395ZM26.707 8.07106C27.0975 7.68054 27.0975 7.04737 26.707 6.65685L20.343 0.292887C19.9525 -0.0976379 19.3193 -0.097638 18.9288 0.292886C18.5383 0.683411 18.5383 1.31658 18.9288 1.7071L24.5857 7.36395L18.9288 13.0208C18.5383 13.4113 18.5383 14.0445 18.9288 14.435C19.3193 14.8255 19.9525 14.8255 20.343 14.435L26.707 8.07106ZM1 8.36395L25.9999 8.36395L25.9999 6.36395L1 6.36395L1 8.36395Z' fill='%23841844'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 153px center;
    background-size: 25px auto;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.news-card-btn::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 15' fill='none'%3E%3Cpath d='M1 6.36395C0.447715 6.36395 4.82823e-08 6.81167 0 7.36395C-4.82823e-08 7.91624 0.447715 8.36395 1 8.36395L1 6.36395ZM26.707 8.07106C27.0975 7.68054 27.0975 7.04737 26.707 6.65685L20.343 0.292887C19.9525 -0.0976379 19.3193 -0.097638 18.9288 0.292886C18.5383 0.683411 18.5383 1.31658 18.9288 1.7071L24.5857 7.36395L18.9288 13.0208C18.5383 13.4113 18.5383 14.0445 18.9288 14.435C19.3193 14.8255 19.9525 14.8255 20.343 14.435L26.707 8.07106ZM1 8.36395L25.9999 8.36395L25.9999 6.36395L1 6.36395L1 8.36395Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 153px center;
    background-size: 25px auto;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.news-card:hover .news-card-btn {
    background-color: #841844;
    color: white;
}

.news-card:hover .news-card-btn::after {
    opacity: 1;
}

.news-pagination {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.pagination-item {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #841844;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid #841844;
    box-sizing: border-box;
    text-decoration: none;
}

.pagination-item:hover {
    background-color: #841844;
    color: #FFFFFF;
    transition: 0.3s ease;
}

.pagination-item-active {
    background-color: #841844;
    color: #FFFFFF;
}

.pagination-prev,
.pagination-next {
    width: 106px;
    border-radius: 50px;
    transition: background 0.3s ease, background-color 0.3s ease;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 27 15' fill='none'%3E%3Cpath d='M1 6.36395C0.447715 6.36395 4.82823e-08 6.81167 0 7.36395C-4.82823e-08 7.91624 0.447715 8.36395 1 8.36395L1 6.36395ZM26.707 8.07106C27.0975 7.68054 27.0975 7.04737 26.707 6.65685L20.343 0.292887C19.9525 -0.0976379 19.3193 -0.097638 18.9288 0.292886C18.5383 0.683411 18.5383 1.31658 18.9288 1.7071L24.5857 7.36395L18.9288 13.0208C18.5383 13.4113 18.5383 14.0445 18.9288 14.435C19.3193 14.8255 19.9525 14.8255 20.343 14.435L26.707 8.07106ZM1 8.36395L25.9999 8.36395L25.9999 6.36395L1 6.36395L1 8.36395Z' fill='%23841844'/%3E%3C/svg%3E") no-repeat center / 18px auto;
}

.pagination-prev {
    transform: scaleX(-1);
}

.pagination-prev:hover,
.pagination-next:hover {
    background-color: #841844;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 15' fill='none'%3E%3Cpath d='M1 6.36395C0.447715 6.36395 4.82823e-08 6.81167 0 7.36395C-4.82823e-08 7.91624 0.447715 8.36395 1 8.36395L1 6.36395ZM26.707 8.07106C27.0975 7.68054 27.0975 7.04737 26.707 6.65685L20.343 0.292887C19.9525 -0.0976379 19.3193 -0.097638 18.9288 0.292886C18.5383 0.683411 18.5383 1.31658 18.9288 1.7071L24.5857 7.36395L18.9288 13.0208C18.5383 13.4113 18.5383 14.0445 18.9288 14.435C19.3193 14.8255 19.9525 14.8255 20.343 14.435L26.707 8.07106ZM1 8.36395L25.9999 8.36395L25.9999 6.36395L1 6.36395L1 8.36395Z' fill='white'/%3E%3C/svg%3E");
    background-size: 18px auto;
}

.footer {
    padding: 64px 0 84px 0;
    border-top: 1px solid #6C6E7B;
    margin-bottom: 64px;
}

.footer-copyright {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
}